.signin {
  text-align: center;
}

.signin-image {
  width: 70vmin;
  pointer-events: none;
}

.signin-header {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.signin-left{
  float: right;
  margin-right: 5vmin;
}
.signin-right{
  float: left;
  margin-left: 5vmin;
  text-align: left;
  font-size: calc(7px + 1vmin);
}
.signin-p{
  text-align: right;
  margin-top:0;
}
.signin-h1{
  text-align: center;
  font-size: calc(20px + 4vmin);
}
#signin-password-input, #signin-username-input{
  width: 40vmin;
}
.signin-error-p{
  color:red;
  font-size: calc(8px + 1.1vmin);
  margin-bottom: 0;
  margin-left: 10px;
}